{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid g-0 register-form">
  <div class="row">
    <div class="col-sm-12 register-form">
      <h1>{% trans "Sign Up" %}</h1>
      <div class="row d-flex justify-content-center">
      <div class="col-sm-6">
        <div class="card register-card rounded-5 text-black">
          <div class="row g-0">
            <div class="col-sm-12">
              <div class=" p-md-4 mx-md-4">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form | as_bootstrap }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}

                  <div class="form-outline my-4">
                    <label> <b> Password criteria: </b></label>
                    <div class="bg-light p-3 criteria-font-size">
                        At least 8 characters<br>
                        Can’t be entirely numeric<br>
                        Can’t be a commonly used password<br>
                        Can’t be too similar to your other personal information.<br>
                         Passwords must match
                    </div>
                </div>
                  
                  <button class="btn-signup" type="submit">{% trans "Sign Up" %}</button>
                  <p>{% blocktrans %}Already have an account? Then please <b> <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</b></p>
                </form>
              </div>
            </div>
          </div>


    </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
