{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color: blueviolet; height: 500px;"></div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6-col-sm-6 m-3" style="background-color: aquamarine; height: 500px; width: 300px;"></div>
            <div class="col-md-6-col-sm-6 m-3" style="background-color: aquamarine; height: 300px; width: 300px;"></div>
        </div>
    </div>
    
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6-col-sm-6 m-3" style="background-color: aqua; height: 300px; width: 300px;"></div>
            <div class="col-md-6-col-sm-6 m-3" style="background-color: aqua; height: 500px; width: 300px;"></div>
        </div>
    </div>
    
</section>
{% endblock %}