{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" id="hero-image">
                <h1>Be a wildlife Hero</h1>
                <p>Protect your nature. Stop extinction</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md shadow mt-3 md-3 accompany-image1"></div>
            <div class="col-md mt-3 md-3 home-text1 text-center">
                <h2>Learn about your planet ecosystem and how wild life impacts this! </h2>
                <p>Wildlifers programs are designed to bring awareness and also for us to make a small contribution
                    to our planet's ecosystem. Our planet is made up of several species, each uniquely contributing to the natural processes of our planet's ecosystems. 
                    Although it's easy to ignore the place of wildlife in our world due to how distant some animals seem, 
                    there’s no denying the roles wildlife plays in the grand scheme. </p>
            </div>
        </div>
    </div> 
</section>
<section>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md join-us">
   
    <a href="{% url 'account_signup' %}">Become a member</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md md-3 mt-3 home-text2 text-center">
                <h2>Protect the planet! Protect wild life!</h2>
                <p>Many of us automatically consider how global warming and climate change impact human life. However, 
                    we need to examine how the changing climate system affects animals. 
                    And we also need to consider the impact of human actions like overhunting, pollution, deforestation, and commercial fishing on animal populations. 
                    Although many animals are finding ways to adapt to changes like habitat loss, not all of them have been able to find their way through. </p>
            </div>
            <div class="col-md shadow mt-3 md-3 accompany-image2"></div>
        </div>
    </div>
    
</section>
<section class="homepage-program-link">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md mt-3">
                <h2>Join a program</h2>
                    <h3>Give support near you!</h3>
                    <p> By supporting one or a few endangered species around the world or secies near you!</p>
                       <a href="{% url 'enrollview' %}" class="homepage-button">Join a program</a>
                    <img src="https://res.cloudinary.com/deipzfplq/image/upload/v1677240953/samples/landscapes/rainforest-sunset4_agtkjp.jpg" class="home-bottom-image" alt="rainforest sunset">
            </div>
        </div>
    </div>
</section>

{% endblock %}