{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container-fluid g-0 booking-form">
    <div class="row">
        <div class="col-sm-12">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-6">
                  <div class="card booking-card rounded-5 text-black">
                    <div class="row g-0">
                      <div class="col-sm-12">
                        <div class=" p-md-4 mx-md-4">
                            <form class=" m-3" method="POST" enctype="multipart/form-data">
                                {{ program_booking_form | as_bootstrap }}
                                
                                {% csrf_token %}
                                <button type="submit" class=" btn-booking">submit</button>
                                <!--{% for message in messages %}
                                        <p>{{message}}</p>
                                      {% endfor %}-->
                              </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-6 program-jobs">
          <!---<h3>Jobs</h3>-->
             <ul>
                 <li>
                    <b>Animal Identifier:</b>  <br>
                     Search and send us photos/videos of endangered animals in your region
                 </li>
                 <li>
                    <b>Fund Raiser:</b>  <br>
                     Give a small donation to help fund the Wildlifers efforts
                  </li>
                 <li>
                    <b>Transcriber:</b>  <br>
                     Help researchers with documentations by transcribing field notes 
                 </li>
                 <li>
                    <b>Reseacher Assitant:</b>  <br>
                     Answer calls, read and redirect email to your region researcher
                 </li>
             </ul>
         </div>
     </div>
 </div>
    </div>
</div>
{% endblock %}