{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}


<div class="booking-form-page-wrap">
  <div class="container">
    <div class="row d-flex justify-content-start mb-5">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="row g-0">
          <div class="col-lg-12 rounded-3">
            <div class="card-body p-md-4 mx-md-4">
              <p class="card-title text-center">Create your volunteer program here:</p>
              <form class=" m-3" method="POST" enctype="multipart/form-data">
                {{ program_booking_form | as_bootstrap }}

                {% csrf_token %}
                <button type="submit" class="form-btns">Submit</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-5 jobs">
    <div class="col-12 col-md-8 col-lg-5">
      <div class="card text-black">
        <h3 class="text-center mt-3">JOBS</h3>
        <ul>
          <li>
            <i class="fa-solid fa-check"></i><b>Animal Identifier:</b> <br>
            Search and send us photos/videos of endangered animals in your region
          </li>
          <li>
            <i class="fa-solid fa-check"></i><b>Fund Raiser:</b> <br>
            Give a small donation to help fund the Wildlifers efforts
          </li>
          <li>
            <i class="fa-solid fa-check"></i><b>Transcriber:</b> <br>
            Help researchers with documentations by transcribing field notes
          </li>
          <li>
            <i class="fa-solid fa-check"></i><b>Reseacher Assitant:</b> <br>
            Answer calls, read and redirect email to your region researcher
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container-fluid g-0">
  <div class="row">
    <div class="col-sm-12">
      <div class="booking-image">
        <div class="">
          <h1 class="text-center booking-heading">Save an Animal Today!</h1>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>
{% endblock %}