{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="POST">
            <h1>Are You Sure You Want To Delete This '{{ obj }}'</h1>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ request.Meta.HTTP_REFERER }}"></a>
                </div>
                <div class="col-sm-6">
                    <input type="submit" value="Confirm">Confirm</input>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}