{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        {% if not user.is_authenticated %}
        <p>Please login</p>
        <button class="btn btn-success" type="submit"><a href="{% url 'account_login' %}">Go to Login
                Page</a></button>
        {% else %}
        {% for booking in booking_page %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="card booking-list   text-black m-3" style="width: 300px;">
                    <div class="col-md">
                        <p>
                            <b>Name:</b> {{ booking.name }}
                        </p>
                        <p>
                            <b>Animal:</b> {{booking.animal_name}}
                        </p>
                        <p>
                            <b>Job:</b> {{ booking.volunteer_job }}
                        </p>
                        <p>
                            <b>Work-Day:</b> {{ booking.start_date }}
                        </p>
                        <p>
                            <b>Work-Time:</b> {{ booking.work_time }}
                        </p>
                        <a href="{% url 'enrollment_editing' booking.pk  %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'enrollment_cancel' booking.pk  %}" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}