{% extends "base.html" %}

{% block content %}
<section  class="form-page-wrap">
    <div class="container">
        {% if not user.is_authenticated %}
        <p>Please login</p>
        <button class="btn btn-success" type="submit"><a href="{% url 'account_login' %}">Go to Login
                Page</a></button>
        {% else %}
        {% for booking in booking_page %}
        <div class="container">
            <div class="row justify-content-center">
                <div class=" booking-list col-12 col-md-8 col-lg-4 rounded-3 text-center text-black m-3">
                    <div class="col-md">
                        <h2 class="m-3">Your Booking</h2>
                        <hr>
                        <p>
                            <b>Name:</b> {{ booking.name }}
                        </p>
                        <p>
                            <b>Animal:</b> {{booking.animal_name}}
                        </p>
                        <p>
                            <b>Job:</b> {{ booking.volunteer_job }}
                        </p>
                        <p>
                            <b>Work-Day:</b> {{ booking.start_date }}
                        </p>
                        <p>
                            <b>Work-Time:</b> {{ booking.work_time }}
                        </p>
                        <a href="{% url 'enrollment_editing' booking.pk  %}" class="btn btn-user-booking">Edit</a>
                        <a href="{% url 'enrollment_cancel' booking.pk  %}" class="btn btn-user-booking">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}