{% extends "base.html" %}

{% block content %}
<div  class="booking-list-background">
    <div class="container">
        {% if not user.is_authenticated %}
        <p>Please login</p>
        <button class="btn btn-success" type="submit"><a href="{% url 'account_login' %}">Go to Login
                Page</a></button>
        {% else %}
        <h2 class="text-center mt-5 p-3">Your Bookings:</h2>
        <div class="row justify-content-center mt-5">
        <div class="card col-sm-12 col-lg-8 col-lg-4 text-center booking-list-body">
            {% for booking in booking_page %}
        <!--<div id="delete" class="modal">
            <div class="modal-content">
                <p>Are You Sure You Want To Delete This '{{ obj }}'?</p>
                <div class="col-sm-6 join-us">
                    <a href="{% url 'enrollments' %}" class="btn-booking">Go Back</a>
                  </div>
                  <div class="col-sm-6">
                    <input type="submit" class="btn-booking" value="Confirm"></input>
                  </div>
            </div>
        </div>-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="booking-list col-sm-12 col-md-8 col-lg-4 rounded-3 text-center text-black m-3">
                    <div class="col-md delete-buttons">
                        <h3 class="m-3">{{  booking.volunteer_job }}</h3>
                        <hr>
                        <p>
                            <b>Name:</b> {{ booking.name }}
                        </p>
                        <p>
                            <b>Animal:</b> {{booking.animal_name}}
                        </p>
                        <p>
                            <b>Job:</b> {{ booking.volunteer_job }}
                        </p>
                        <p>
                            <b>Work-Day:</b> {{ booking.start_date }}
                        </p>
                        <p>
                            <b>Work-Time:</b> {{ booking.work_time }}
                        </p>
                        <a href="{% url 'enrollment_editing' booking.pk  %}">Edit</a>
                        <a href="{% url 'enrollment_cancel' booking.pk  %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    
        {% endfor %}
        {% endif %}
        </div>
        </div>
    </div>
    <!--Pgaination-->
<div class="container">
    <div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if booking_page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ booking_page.previous_page_number }}">&laquo;</a>
            </li>
            {% endif %}
            <li class="page-link pagination-arrow">
                Page {{ booking_page.number }} of {{ booking_page.paginator.num_pages }}
            </li>
            {% if booking_page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ booking_page.next_page_number }}">&raquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ booking_page.paginator.num_pages}}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
    </div>
    </div>
    <div class="container g-0">
        <div class="row program-page-image justify-content-center rounded-3 mt-3 ">
            <h2>Manage your bookings</h2>
        </div>
    </div>
    </div>
</div>
{% endblock %}