{% extends "base.html" %}

{% block content %}
<div class="form-page-wrap">
  <div class="container logout-form">
    <h1 class="text-center"></h1>
    <div class="row d-flex justify-content-center mb-5">
      <div class="delete-list col-12 col-md-8 col-lg-8 rounded-3 text-center m-3">
        <div class="row g-0">
          <div class="col-lg-12">
            <div class="card-body p-md-4 mx-md-4">
              <form action="" method="POST">
                {% csrf_token %}
                <p>Are You Sure You Want To Delete <i> '{{ enrollment }}'?</i> </p>
                <div class="row">
                  <div class="col-sm-6 join-us">
                    <a href="{% url 'enrollments' %}" class="btn-booking">Go Back</a>
                  </div>
                  <div class="col-sm-6">
                    <input type="submit" class="btn-danger" value="Confirm"></input>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="POST">
                {% csrf_token %}
            <h3>Are You Sure You Want To Delete This '{{ obj }}'</h3>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'enrollments' %}">Go Back</a>
                </div>
                <div class="col-sm-6">
                    <input type="submit" value="Confirm"></input>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>-->
{% endblock %}