{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        {% if not user.is_authenticated %}
        <p>Please login</p>
        <button class="btn btn-success" type="submit"><a href="{% url 'account_login' %}">Go to Login
                Page</a></button>
        {% else %}
        {% if user.is_authenticated %}
        <div class="form-page-wrap">
            <div class="container register-form">
              <h1 class="text-center">Register</h1>
              
              <div class="row d-flex justify-content-center mb-5">
                <div class="col-12 col-md-8 col-lg-6">
                  <div class="card rounded-3 text-black">
                    <div class="row g-0">
                      <div class="col-lg-12">
                        <div class="card-body p-md-4 mx-md-4">
                            <form action="{% url 'enrollment_editing' enroll.pk %}" method="POST" enctype="multipart/form-data">
                        
                                {% csrf_token %}
                                
                                <div>
                                    {{ form.as_p }}
                                </div>
                                <div>
                                    <button class="btn btn-success" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

       <!--<div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form action="{% url 'enrollment_editing' enroll.pk %}" method="POST" enctype="multipart/form-data">
                        
                        {% csrf_token %}
                        
                        <div>
                            {{ form.as_p }}
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>-->
        {% endif %}
        {% endif %}
    </div>
</section>
{% endblock %}