/*Import google font */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway:wght@100;400&display=swap');


/*Remove default values*/
* {
    margin: 0;
    padding: 0;
}

/*Add website font-family */
body {
    
}

/*Style navigation bar*/

.my-navbar {
    background-color: black;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.dropdown-menu a {
    color: black;
}


/*Stlye homepage headings*/
h1 {
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-weight: 900;
    font-style: italic;
}

/*Style hero image*/
#hero-image {
    height: 600px;
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1677247794/samples/landscapes/rainforest-sunset2_mv4rtl.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: #FFFF;
    text-align: center;
}

#hero-image h1 {
    margin-top: 250px;
}

/* Style accompany images in home page description section*/
.accompany-image1 {
    height: 400px;
    width: 500px;
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1677238747/samples/animals/giantpanda_sjl5v9.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

.accompany-image2 {
    height: 400px;
    width: 500px;
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1677234626/samples/animals/homepage-image_o86p9d.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 300px;
}

/*Style home page paragraphs*/
.home-text1 {
    height: 400px;
    width: 500px;
}

.home-text2 {
    height: 400px;
    width: 500px;
}

/*Style home page buttons*/
.join-us {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.join-us h2 {
    font-style: normal;
}

.homepage-program-link {
    text-align: center;
}

.homepage-program-link a, .join-us a {
    background: rgb(0, 82, 0);
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

/*Style home page bottom image*/
.home-bottom-image {
    height: 200px;
    width: 100%;
    margin-top: 60px;
}

/*Stlye footer contents*/
footer {
    height: 300px;
    color: #fff;
    background: black;
}

.media-links a {
    text-decoration: none;
}

.media-links i {
    color: #fff;
    font-size: 2rem;
    display: block;
    padding: 10px; 
}

.contact-us {
    line-height: 1.5rem;
}

.contact-us h3 {
    margin-bottom: 20px;
}

.contact-us i {
    font-size: 1.5rem;
}

.copyright {
    text-align: center;
    color: #fff;
    background: black;
}

/* Style for program background*/
.program-container {
   /* background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1677212059/backgd1_oznmf0.jpg')no-repeat center center fixed;*/
    background-size: cover;
   /* height: calc(100vh - 164px);*/
   background: #EFEBE9;;
}

.overlay {
    z-index: -1;
    height: 100%;
    background: rgba(1, 9, 62, 0.5);
}

/* Style for program card display*/
.card {
    margin-left: 250px;
    border: none;
    box-shadow: 4px 4px 6px 6px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.card-image {
    height: 225px;
    width:300px
}

.card-body {
    text-align: center;
}

.card-body h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.program-view-button  {
    margin-top: 50px;
    margin-left: 60px;
    background: rgb(0, 82, 0);
    padding: 8px;
    width: 120px;
}

.program-view-button a {
    text-decoration: none;
    color: #fff;
}

/*Style for program pagination nav bar*/
.pagination {
    margin-bottom: -17px;
}

.page-link {
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(0, 82, 0);
}

/*Style for contact page image*/
.contact-image {
    height: 250px;
    background:rgba(1, 9, 62, 0.5);
}

.contact-page-map {
    height: 150px;
}

.view-page {
    width: 100%;
}

.program-view-image {
    height: 400px;
    width: 500px;
}

