/*Import google font */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway:wght@100;400&display=swap');


/*Remove default values*/
* {
    margin: 0;
    padding: 0;
}

/*Add website font-family */
body {
    height: 100vh;
}

/*Style navigation bar*/

.logo {
    height: 50px;
    width: 50px;
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1679074205/background-remover_vinz0k.png') no-repeat center;
    background-size: cover;
    border-radius: 50%;
   /* background: #EFEBE9;*/
}

.logo p {
    margin-top: 6px;
    margin-left: 45px;
    color: rgb(102, 187, 135);
}

.home-page-container {
    background: black;
}

.bg-darker {
    background: rgba(0, 0, 0, 0.2);
}

.dropdown-menu a:hover {
    background-color: #EFEBE9;
}

/* Style for signup and log in messages*/
#msg {
    z-index: 2;
    background-color: rgba(240, 240, 240, 0.888);
    position: absolute;
}

/*Stlye homepage headings*/
h1 {
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-weight: 900;
    font-style: italic;
}

/*Style hero image*/
#hero-image {
    height: 400px;
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1679050465/rainforest-sunset2_nkdcgr.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: #FFFF;
    text-align: center;
}

#hero-image h1 {
    margin-top: 100px;
}

/* Style accompany images in home page description section*/
.accompany-image1 {
    height: 300px;
    width: 400px;
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1677238747/samples/animals/giantpanda_sjl5v9.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

.accompany-image2 {
    height: 300px;
    width: 400px;
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1677234626/samples/animals/homepage-image_o86p9d.jpg')no-repeat;
    background-size: cover;
    background-position: center;
     
}

/*Style home page paragraphs*/
.home-text1 {
    height: 300px;
    width: 400px;
    background:  rgba(240, 240, 240, 0.888);
}

.home-text2 {
    height: 300px;
    width: 400px;
    background:  rgba(240, 240, 240, 0.888);
}

/*Style home page buttons*/
.join-us {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.join-us h2 {
    font-style: normal;
}

.homepage-program-link {
    text-align: center;
}

.homepage-program-link p {
    margin-bottom: 50px;
}

.homepage-program-link a, .join-us a {
   /* background: rgb(0, 82, 0);*/
    background: rgb(0, 82, 0);
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.homepage-program-link a:hover, .join-us a:hover {
    background: rgb(0, 82, 0);
    transition: .5s ease-in-out;
}

/*Style home page bottom image*/
.home-bottom-image {
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1679050465/rainforest-sunset2_nkdcgr.jpg') center no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
    margin-top: 60px;
}

/*Stlye footer contents*/
footer {
    height: 300px;
    color: #fff;
    background: black;
}

footer h3 {
    font-weight: 800;
    text-transform: uppercase;
}

.media-links a {
    text-decoration: none;
}

.media-links i {
    color: #fff;
    font-size: 2rem;
    display: block;
    padding: 10px; 
}

.contact-us {
    line-height: 1.5rem;
}

.contact-us h3 {
    margin-bottom: 20px;
}

.contact-us a {
    text-decoration: none;
    color: #fff;
}

.contact-us i {
    font-size: 1.5rem;
}

.copyright {
    text-align: center;
    color: #fff;
    background: black;
}

/* Style for program background*/
.program-container {
    background-size: cover;
   /* height: calc(100vh - 164px);*/
   background: #EFEBE9;
}


/* Style for program card display*/
.program-page-image {
   /* background:  rgba(240, 240, 240, 0.888);*/
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1679050465/rainforest-sunset2_nkdcgr.jpg')center no-repeat;
    margin-bottom: 60px;
    background-size: cover;
    height: 300px;
    color:azure;
}

.program-page-image h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 100px;
    
}

.program-overlay {
    z-index: -1;
    height: 300px;
    background: rgba(125, 125, 125, 0.5);
    margin-top: -90px;
}

.program-card {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.card-image {
    height: 240px;
    width:300px
}

.animal-cards h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.program-view-button  {
    margin-top: 30px;
    margin-left: 150px;
   /* background: rgb(0, 82, 0);
    padding: 8px;
    width: 120px;*/
    text-align: center;

}

.program-view-button a {
    text-decoration: none;
    color: rgb(0, 82, 0);
    text-transform: uppercase;
}


.program-view-buttons {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Style for program pagination nav bar*/
.pagination {
    margin-bottom: -17px;
}

.page-link {
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(0, 82, 0);
}

.pagination a:hover,
.pagination-arrow:hover {
    color: rgb(0, 82, 0);
}


/*Style for program view page*/
.view-page {
    width: 100%;
}

.view-page-heading {
    text-align: center;
    margin: 30px;
}

.view-row {
    padding-left: -80px;
    background: #EFEBE9;
}

/*Style for contact page image*/

.contact-page-background {
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1679050465/rainforest-sunset2_nkdcgr.jpg') no-repeat center fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    z-index: -1;
    height: 300px;
    background: rgba(120, 120, 120, 0.5);
}

.contact-image-overlay {
    height: 700px;
    z-index: -1;
    background: rgba(105, 105, 105, 0.5);
    margin-top: -717px;
    margin-bottom: -20px;
}

.contact-page-section {
    overflow: hidden;
    margin-bottom: -22px;
    margin-top: 10px;
}

.contact-form-textarea {
    height: 200px;
}

.btn-contact{
    height: 50px;
    width: 200px;
    background: rgb(0, 82, 0);
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    margin-left: 20px;
}

.map {
    width: 100%;
    height: 400px;
}

/* Style for signup, login and logout forms*/
.form-page-wrap {
   /* background: #EFEBE9 fixed;*/ 
   /* background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1673022396/cld-sample-2.jpg')no-repeat center fixed;*/
    background: url('https://res.cloudinary.com/deipzfplq/image/upload/v1679050465/rainforest-sunset2_nkdcgr.jpg') no-repeat center fixed;
    background-size: cover;
    background-position: center;
}



.form-login-page-wrap {
    background: rgba(240, 240, 240, 0.888);
    height: 750px;
    margin-bottom: -30px;
}


.register-form,
.login-form,
.booking-form,
.contact-form {
   /* height: 600px;*/
    padding-bottom: 30px;
    margin-bottom: -16px;
    
   /* padding-top: 100px; */
   overflow: hidden;
}

.register-form h1,
.login-form h1,
.contact-form h1 {
    text-align: center;
    margin: 30px;
    font-style: italic;
}

.register-form p,
.login-form p {
    text-align: center;
    margin-top: 20px;
}

.register-card {
    /*margin-left: 20%;*/
    /*width: 60%;*/
    border-radius: 20px;
    box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, 0.2);
}

.booking-card {
    border-radius: 20px;
    box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}
.contact-card {
    border-radius: 20px;
    box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, 0.2);
}



.control-label {
    margin-top: 1.5rem;
  }


.logout-form {
    height: 600px;
    text-align: center;
    padding-top: 200px;
    color: #fff;
}

.register-form h1,
.login-form h1,
.logout-form h3,
.booking-header h3 {
    font-weight: 900;
}

.register-form a,
.login-form a {
    text-decoration: none;
    color: rgb(0, 82, 0);
    ;
}

.register-form a:hover,
.login-form a:hover {
    color: rgb(0, 82, 0);
    border-bottom: 1px solid rgb(0, 82, 0);
    transition: 0.5s;
}

.btn-signup,
.primaryAction,
.btn-logout {
    height: 50px;
    width: 200px;
    background: rgb(0, 82, 0);
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
}

.btn-booking {
    height: 40px;
    width: 100px;
    background: rgb(0, 82, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 30px;
}


/*Style for enrollment form*/

.booking-form-page-wrap {
    background: rgba(240, 240, 240, 0.888);
    padding-bottom: 40px;
    margin-bottom: -20px;
}

.booking-form-page-wrap p {
    margin-top: 30px;
    font-size: 1.2rem;
}

.booking-image {
    height: 300px;
    background:url('https://res.cloudinary.com/deipzfplq/image/upload/v1679050465/rainforest-sunset2_nkdcgr.jpg')no-repeat center fixed; 
    background-size: cover;
}

.enrollment-form {
    height: 600px;
    background: #EFEBE9;
    text-align: center;
    padding-top: 100px; 
}

.booking-heading {
    color: white;
    padding-top: 150px;
}

.jobs ul {
    list-style:none;
}

.jobs h3 {
    font-weight: 700;
}

.booking-list{
    display: inline;
}

/*Style for Booking/Enrollment form*/

.job-form {
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    .join-us {
        margin-top: ;
    }
    .homepage-program-link {
        margin-top: 100px;
    }

    .program-view-image {
        
    }

    .home-text1 {
        font-size: 0.8rem;
    }

    .home-text2 {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 600px) {
    footer {
        height: 600px;
    }

    .homepage-program-link {
        margin-top: 50px;
    }

    .program-view-image {
        width: ;
    }
    
}