{% extends 'base.html' %}

{% block content %}

{% load bootstrap_tags %}
<div class="bg-light">
<div class="container">
    <div class="row justify-content-center blog-heading">
        <div class="col-sm-8 mt-5">
            <h1 class="text-center mt-3"> <em>Wildlifers Blog</em></h1>
        </div>
    </div>
</div>

<!---Post-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mx-auto mt-5 rounded p-3">
            <h2 class="text-center" style="color: rgb(27, 121, 32);"> <em>  {{ post.title }}</em></h2>
            {% if "placeholder" in post.featured_image.url %}
            <img src="/static/images/forrest.jpg" class="card-img-top" alt="blog paots default image" >
            {% else %}
            <img src="{{ post.featured_image.url }}" class="card-img-top rounded" alt="blog post image">
            {% endif %}
        </div>
        <p class="form-outline mt-3">
            {{ post.content| safe }}
        </p>
    </div>
</div>

<!--comment-->
<div class="container mt-5">
    <div class="row blog-hr">
        <div class="col-sm-12 col-md-6  rounded-3">
             <h3>Comments:</h3>
            {% for comment in comments %}
            <div class="col-sm-12 mt-3 ">
                <p > <b> <span> {{ comment.name }} </span></b> says:</p>
                <p> {{ comment.body }} </p>
                <p> <em> {{ comment.created_on }}</em> </p>
                <br>
            </div>
            {% endfor %}
        </div>
        <hr>
        <a href="{% url 'blog' %}" class="text-center mb-5" > &laquo; &laquo; Go Back</a>
    </div>
</div>

<!--Add comments-->
<div class="container comment-form-margin">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md">
            <div class="card-body text-center">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>What's your thoughts <span style="color: rgb(56, 142, 60);"> <b> {{ user.username }}</b></span> </p>
                <form method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{ comment_form | as_bootstrap }}
                    <button type="submit" class="btn form-btns btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}