{% extends 'base.html' %}

{% block content %}

{% load bootstrap_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h1 class="text-center">{{ post.title }}</h1>
        </div>
    </div>
</div>

<!---Post-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if "placeholder" in post.featured_image.url %}
            <img src="" width="100%">
            {% else %}
            <img src="{{ post.featured_image.url }}" width="100%">
            {% endif %}
            {{ post.content| safe }}
            {{ post.image.url }}
        </div>
    </div>
</div>

<!--comment-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Comments:</h3>
            {% for comment in comments %}
            <div class="col-sm-8">

                <h4> {{ comment.name }} </h4>
                <p> {{ comment.body | linebreaks }} </p>
                <p>Written on: {{ comment.created_date }} </p>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--Add comments-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert" id="go">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | as_bootstrap }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}