{% extends "base.html" %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <h2>Help the {{ program.animal_name }}</h2>
                <p>{{ program.animal_category }}</p>
                <p>{{ program.country.name }}</p>
            </div>
            <div class="col-sm-12 col-md-6 mx-auto mt-5 rounded p-3 bg-light" style="text-align: center;">
                <img src="{{ program.image.url }}" class="rounded mx-auto d-block" alt="image of selscted aninamal">
            </div>  
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md ms-3 program-view-text">
                    <p>
                        {{ program.description|safe }}
                    </p>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>
<section class="join-us">
    <a href="/programs" class=""> &laquo &laquo Go Back</a>
    <a href="{% url 'enrollview' %}" class="">Enroll Now</a>
</section>

{% endblock %}