{% extends "base.html" %}

{% block content %}
<section class="bg-light">
<div class="container view-page">
    <div class="row " style="text-align: center;">
        <div class="col-sm-12">
            <div class="row">
                <div>
                    <h1>{{ program.animal_name }}</h1>
                </div>
            </div>
            <div class="container">
            <div class="row" style="background: #EFEBE9;">
                <div class="col-md-6 col-sm-12" style="text-align: center;">
                    <img src="{{ program.image.url }}" class=" image-fluid program-view-image" alt="...">
                   <!--- <p>
                        Category: {{ program.animal_category }}<br>
                        Country: {{ program.country.name }}
                    </p>-->
                </div>

                <div class="col-md-6 col-sm-12 program-view-text">
                    <p>
                        {{ program.description|safe }}
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}