{% extends "base.html" %}

{% block content %}


{% load programapp_tags %}
<section>
<div class="container-fluid">
    <div class="row program-description justify-content-center m-3">
        <h2>Take Action!</h2>
        <div class="col-sm-6 program-text" >
          <!---  <h3>Work with Us</h3>-->
            <p>Hundreds of thousands of animals around the world are threatened by human action 
                and climate change and are in need of protection and conservation efforts. <br>As the list of 
                animals distinction grows we challeng you to make a difference.<br> Help an animal in your
                region. Enroll in our program where you can contribute to an animal of your choice
                by doing two hours of work which will help us gather more information, speed up comunication 
                or you can just give a small donation.
            </p>
        </div>
        <div class="col-sm-6 program-jobs">
         <!---<h3>Jobs</h3>-->
            <ul>
                <li>
                   <b>Animal Identifier:</b>  <br>
                    Search and send us photos/videos of endangered animals in your region
                </li>
                <li>
                   <b>Fund Raiser:</b>  <br>
                    Give a small donation to help fund the Wildlifers efforts
                 </li>
                <li>
                   <b>Transcriber:</b>  <br>
                    Help researchers with documentations by transcribing field notes 
                </li>
                <li>
                   <b>Reseacher Assitant:</b>  <br>
                    Answer calls, read and redirect email to your region researcher
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
<!--Code for filter input-->
<!--<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 m-3">
                <form action="GET">
                    {{ filtered_programs.form.as_p }}
                    {% csrf_token %}

                    <div class="search-button">
                        <button type="submit" class="button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>-->


<div class="container program-container py-5 bg-light ">
    {% for program in program_list %}
   
        <div class="card program-card mb-3" style="max-width: 600px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ program.image.url }}" class="img-fluid rounded-start card-image" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">{{ program.animal_name }}</h4>
                        <p class="card-text">
                            Endanger Status <br><hr>
                            Classified: {{ program.animal_category }}<br> 
                            Country: {{ program.country.name }}
                        </p>
                        <div class="program-view-button">
                            <!-- <h2>Join the fight</h2>-->
                             <a href="{% url 'show_program' program.id %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    {% endfor %}



  <!--Pgaination without filter-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if program_list.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ program_list.previous_page_number }}">&laquo;</a></li>
        {% endif %}
      <li class="page-link pagination-arrow">
        Page {{ program_list.number }} of {{ program_list.paginator.num_pages }}
      </li>
      {% if program_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ program_list.next_page_number }}">&raquo;</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ program_list.paginator.num_pages}}">Last</a></li>
        {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}